h1 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #acd1b2;
}
.intitule{
    font-family: Verdana;
    font-size: 20px;
    text-align: left-side;
    padding-left: 120px;
    padding-top: 10px;
    
    color: black;
}
.style-questions{
    font-family: Verdana;
    line-height: 25px;
    font-size: 15px;
    text-align: left-side;
    padding-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}
.span-bold{
    font-weight: bold;
    padding-top: 20px;
}

.bullet-spacebefore{
    padding-top: 15px;
}
.question-padding{
    padding-top: 20px;
}

/* .radio-over input[type='radio']:after {
    
    background-color: #acd1b2;
    border-color: #4c4;
}

.radio-over input[type='radio']:checked:after {
     background-color: #acd1b2;
     border-color: #4c4;
    }*/
/* ------------------- */
/* input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border-radius: 50%;
    width: 16px;
    height: 16px;
    
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    
    position: relative;
    top: 4px;
}

input:checked {
    border: 6px solid black;
}

button,
legend {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
}

button:hover,
button:focus {
    color: #999;
}

button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
}
*/
